body{
    background-color: black;
    background-repeat: no-repeat;
}


.quote{
    font-family: 'Economica', sans-serif;
    color: whitesmoke;
    font-size: 35px;
    margin-left: 20em;
    margin-top:6em;
    
}

.name {
    font-size: 25px;
}